<div
  class="modal fade"
  id="viewItemModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-secondary border-primary p-4">
      <div class="modal-header">
        <h2
          class="modal-title display-7 text-primary"
          id="exampleModalLongTitle"
        >
          Coffe table
        </h2>
        <button
          type="button"
          class="close text-bg-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-primary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi utipsum L
          * W * H : 100x80x60
        </p>
        <h3 class="text-primary">Current Bids:</h3>
      </div>
      <div class="modal-footer p-3">
        <form class="w-100">
          <label
            for="input-bid"
            class="d-block text-center text-primary display-7"
            >Make a bid</label
          >
          <input
            type="number"
            name="input-bid"
            class="mx-auto d-block my-3"
            id="input-bid"
          />
          <button
            type="button"
            class="btn cta text-primary w-50 border-primary form-control mx-auto d-block"
          >
            Place bid
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<button data-bs-toggle="modal" data-bs-target="#viewItemModal"></button>
