// Custom colors
// scss-docs-start theme-color-variables
$primary: #411b74;
$secondary: #f6eeee;
$info: #285074;

// Font-sizes
// scss-docs-start display-headings
$display-font-sizes: (
  1: 7rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 1.5rem,
);

// scss-docs-start font-sizes
$h1-font-size: 2rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;

$display-font-family: europa, sans-serif;
$display-font-style: bold;
$display-font-weight: 400;
